/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
.idea/*
*/cache/*
*~
app/config/package/*
app/config/grid/*
app/database/local.sqlite
public/assets/*
app/storage/execs/*
app/storage/jobs/*
app/config/packages/*
.idea/workspace.xml
