<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./app/tests/</directory>
        </testsuite>
        <testsuite name="Routes Test Suite">
            <directory>.app/test/Routes/</directory>
        </testsuite>
        <testsuite name="Managers Test Suite">
            <directory>.app/test/Managers/</directory>
        </testsuite>
        <testsuite name="Repositories Test Suite">
            <directory>.app/test/Repositories/</directory>
        </testsuite>
        <testsuite name="Controllers Test Suite">
            <directory>.app/test/Controllers/</directory>
        </testsuite>
        <testsuite name="Entities Test Suites">
            <directory>.app/test/Entities/</directory>
        </testsuite>
    </testsuites>
</phpunit>
