/*
* Base structure
*/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

body *:focus,
body *:active,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.form-control :focus,
.form-control:active:focus,
.form-control.active:focus, {
    outline: 0px auto;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        font-size: 16px;
        background-color: #2E302E;
        border-right: 1px solid #eee;

    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li {
    height: 56px;
    border-bottom: 1px solid #4b4b4b;
    padding: 0;
    position: relative;
}

.nav-sidebar > li > a {
    padding: 0 1.2em;
    background-color: transparent;
    border-left: 4px solid #414141;
    border-right: 4px solid #414141;
    color: #c8c8c8;
    font-size: 1em;
    display: block;
    text-decoration: none;
    height: 55px;
    line-height: 55px;
    position: relative;

    /*Transiciones*/
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.nav-sidebar > li > a > i {
    font-size: 1.6em;
    color: #999999;
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    width: 33px;
    margin-right: 0.4em;
}

.nav-sidebar > li > a > span {
}

.nav-sidebar > .active > a,
.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus {
    color: #ebebeb;
    background-color: #555755;
    border-left: 6px solid #363636;
    border-right: 3px solid #363636;
}

.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {

}

/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

/*Helpers*/
.header-button-h1 {
    position: absolute;
    right: 15px;
    bottom: 40px;
}

.page-header.row {
    margin-left: 0px;
    margin-right: 0px;
}
